h1{
    color: blue;/*formato de titulo 1*/
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 4px 2px rgba(163,176,228,0.6);
}
h2{
    color: blue;/*formato de titulo 2*/
    text-align: left;
    font-size: 18px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 4px 2px rgba(163,176,228,0.6);
}

h3{
    color:blue; /*formato de titulo 3*/
    text-align: left;
    font-size: 18px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 4px 2px rgba(163,176,228,0.6);
}
h4{
    color:blue; /*formato de titulo 4*/
    text-align: center; 
    font-size: 16px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 4px 2px rgba(163,176,228,0.6);
}
p{
    color:black; /*formato de texto*/
    text-align: justify;
    font-size: 14px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}
.destacado{
    color: black;
    font-weight: bold;
    font-style: italic;
}
#caja{
    width: 600px;
    height: 100px;
    padding: auto;
    border: 5px dashed black;
    box-sizing: border-box;
    margin: 0 auto;
    background: linear-gradient(37deg, rgba(34,193,195,1) 0%, rgba(124,247,192,1) 30%, rgba(253,187,45,1) 100%);
    box-shadow: 10px 20px 5px rgb(199, 192, 240);
    border-radius: 20px;
}
#imagen{
    text-align: center;
    margin: 0 auto;
}
.icono{
    color: black;
    font-size: 14px;
}
.item{
	background-color: #ccc;
	width: 200px;
	height: 50px;
	text-align: center;
	font-size: 20px;
    margin:20px;
}
.item.rojo{
	background-color: #e74c3c;
}
.item.azul{
	background-color: #3335c7;
}
.item.verde{
	background-color: #2ecc71;
}
.contenedor1{
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contenedor2{
	background-color: hsl(0, 0%, 100%);
	display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.contenedor3{
	background-color: hsl(0, 0%, 100%);
	display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}